	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #E9E9E9 url(images/bg01.png) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: #969696;
	}
        
        .separator_thin
{
float:left;
width:100%;
border-top: 1px solid #e3e8de;
margin:0px;
margin-top:5px;
margin-bottom:10px;
}



/****************************** Mini Grid ******************************/

.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background:#ffffff;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.container_12 .grid_6 {
	width:285px;
	padding:10px;
	margin-left:337px;
}

.container_12 .grid_12 {
	width:940px;
	padding:10px;
}

	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 900;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/





	.button
	{
		display: inline-block;
		margin-top: 2em;
		background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 1em !important;
		color: #fff !important;
	}
        
        .button_loggin
	{
		display: inline-block;
		margin-top: 2em;
             	background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 11px;
		color: #fff !important;
	}
        
        .button_logout
	{
		display: inline-block;
		margin-top: 2em;
                background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 9px;
		color: #fff !important;
	}
        
        .button_back
	{
		display: inline-block;
		margin-top: 0em;
                margin-left: 5%;
		background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 9px;
		color: #fff !important;
	}
        
        .button_logout_client
	{
		display: inline-block;
		margin-top: 2em;
                margin-left: 0%;
		background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 9px;
		color: #fff !important;
	}
        
        

		.button:hover
		{
			background: #18ACD9;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.button:active
		{
			background: #0091BD;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
			.button-big
			{
				line-height: 4em;
				padding: 0 3em;
				font-size: 1.1em !important;
			}
		
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/



#form_uplata    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin-left: 25%;
position:relative;
width:550px;
height:680px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}



#form_uplata_licni    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin-left: 25%;
position:relative;
width:550px;
height:400px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}



#form_isplata    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin-left: 25%;
position:relative;
width:550px;
height:700px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


#form_kontakt    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin-left: 25%;
position:relative;
width:550px;
height:350px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#hrl {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#feedback {
width:375px;
height:80px;
}

textarea#comment {
width:375px;
height:80px;
}

textarea.message {
display:block;
}



input.button_submit {
width:100px;
position:absolute;
right:20px;
bottom:20px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
}
input.button:hover {
background:#fff;
color:#09C;
}
	#wrapper
	{
		position: relative;
		padding: 0em 0em 5em 0em;
		background: #FFF;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		height: 10em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin: 4em auto 4em auto;
		text-transform: uppercase;
                
	}
        
       
	
	#logo h1
	{
		font-size: 2.2em;
		color: #292929;
	}
	
	#logo h1 a
	{
		margin-left: 0.50em;
		text-decoration: none;
		font-size: 1.5em;
		color: #292929;
	}
	
	#logo span
	{
		color: #01A9DC;
	}

	#logo .icon-size
	{
		padding-top: 0.20em;
		font-size: 2em !important;
		color: #01A9DC;
	}
	
	#logo p
	{
		margin: 0;
		padding: 0 0 0 5em;
		letter-spacing: 0.10em;
		font-size: 0.90em;
		color: #828282;
	}

	#logo p a
	{
		text-decoration: none;
		color: #828282;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
        {
                background: #292929;
        }
        
        #menu ul
        {
                margin: 0;
                padding: 0px 0px 0px 0px;
                list-style: none;
                line-height: normal;
                text-align: center;
        }
       li ul {
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    
    padding: 5px 15px 5px 15px;
    
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}



        #menu li
        {
                display:inline-block;
        }
        
        #menu a
        {
                display: block;
                padding: 0em 2em;
                line-height: 80px;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 700;
                color: #838383;
        }
        
        #menu .current_page_item a
        {
                background: #01A9DC;
                color: #FFF;
        }
        
        #menu a:hover
        {
                text-decoration: none;
                color: #FFF;
        }



/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		width: 1100px;
		padding: 0em 50px 5em 50px;
		background: #F4F4F4;
		color: #191919;
	}
	
	#page .arrow-down {
		border-top-color: #FFF !important;
	}
	
	#page .title
	{
		padding: 3em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
	}
	
	#page .title h2
	{
		font-size: 2em;
		color: #474747;
	}
	
	#page .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#page #box1
	{
		float: left;
		width: 500px;
	}

	#page #box2
	{
		float: right;
		width: 500px;
	}
	
	#page a
	{
		color: #01A9DC;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.70em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #FFF;
		color: #6A6A6A;
	}
	
	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		position: relative;
		overflow: hidden;
		width: 1050px;
		padding: 0em 75px 6em 75px;
		background: #292929 url(images/bg01.png) repeat;
	}
	
	#portfolio ul
	{
		margin-bottom: 2em;
		padding: 0;
		list-style: none;
	}
	
	#portfolio li
	{
		float: left;
		width: 310px;
		margin: 0px 10px;
		padding: 10px 10px;
	}
	
	#portfolio li img
	{
		border: 10px solid rgba(0,0,0,.10);
	}
	
	#portfolio li a
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: .5;
	}

	#portfolio li a:hover
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: 1;
	}
	
	#portfolio .current_item a
	{
		opacity: 1;
	}
	
	#portfolio .title
	{
		padding: 3em 0em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#portfolio .title h2
	{
		font-size: 2.5em;
		color: #FFF;
	}
	
	#portfolio .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}
	
	#portfolio .actions
	{
		text-align: center;
	}
	
	#portfolio .content
	{
		overflow: hidden;
		padding: 2em 5em 0em 5em;
		text-align: center;
		color: #858585;
	}
	
	#portfolio .content p
	{
		text-shadow: 0px 1px 0px #000;
		font-size: 1.2em;
	}
	
	#portfolio .button
	{
		margin: 2em 0.50em 0em 0.50em;
	}
	
	#portfolio .arrow-down {
		border-top-color: #F4F4F4 !important;
	}

	#pbox1,
	#pbox2,
	#pbox3
	{
		float: left;
		width: 400px;
	}

	.arrow-down {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #FFF;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}
	
/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		text-align: center;
		color: #525252;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 700;
		color: #454445;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		line-height: 150px;
		font-size: 4em;
		background: #FFF;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #00A4D9;
		text-align: center;
		color: #00A4D9;
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}
	
	#three-column .title
	{
		letter-spacing: 0.10em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
		font-weight: 900;
		font-family: 'Open Sans', sans-serif;
		color: #00A4D9;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}






